lib/
parser/oaccparser
parser/oaccparser.tab.c
parser/utils_clause.py
src/libopenacc.so
src/listdevices
src/openacc.o
src/openacc_container.o
src/tasksys.o
srcML/bin/
srcML/doc/
srcML/obj/
srcML/src/
build
venv
*.pyc
test-case/*.c.cuda
