logs/
matMul_baseline
matMul_cuda
matMul_g++
matMul_l1cache_disabled
matMul_l1cache_enabled
matMul_nvcc6
matMul_smc
matMul_smc_false
matMul_smc_false_hiocc
matMul_smc_true
matMul_smc_true_hiocc
matMul_true
matrixMul_baseline_ipmacc.cu
matrixMul_f_ipmacc.cu
matrixMul_ipmacc.cu
matrixMul_ipmacc_false.cu
matrixMul_ipmacc_struct.cu
matrixMul_ipmacc_true.cu
matrixMul_ipmacc_working.cu
matrixMul_t_ipmacc.cu
ptxsass/

