*.o
*_ipmacc*
.perflog
a.out
ispc_add_1d
ispc_add_2d_foreach_tile
ispc_add_2d_task
ispc_add_3d_foreach_tile
ispc_add_3d_task_foreach_tile
ispc_add_3d_task_serial
nohup.out
opencl_add_1d
opencl_add_2d
opencl_add_3d

